body{
    Background-image:url(underwater_summer-wallpaper-1920x1080.jpg);
    Background-size: cover;
    Height: 100%;
    Overflow: scroll;
}
header{
    Text-align: center;
    Margin: 0px auto;
    Width: 75%;
}
h1{
    font-family: Palatino, 'Palatino linotype', serif;
    color: rgb(196, 35, 23);
}

#ContactInfo{
    Text-align: right;
    Margin: 0px auto;
    Width: 75%;
}

#AboutMe{
    Margin: 0px auto;
    Width: 40%;
    Text-align: center;
}
.card{
    Margin:0px auto;
    Width: 75%;
    Background-color: rgba(196, 246, 253);
    Border: dotted;
    Border-Width: 10px 4px;
    Border-radius: 10px 40px;
}